@media screen and (max-width: 450px) {
	/* 450px以下に適用されるCSS */
    h1{
    font-size: 35px;
    }
    
    h2{
        font-size: 27px;
    }
    a{
        font-size: 23px;

    }
    td{
        display: block;
       align-items: center;
    }

}
@media screen and (min-width: 450px) {
    h1{
    font-size: 45px;
    }
    
    h2{
        font-size: 30px;;
    }
    a{
        font-size: 26px;

    }
    

}
@media screen and (min-width: 550px) {
    h1{
    font-size: 55px;
    }
    
    h2{
        font-size: 30px;
    }
    a{
        font-size: 30px;

    }

}
@media screen and (min-width: 800px) {
    h1{
    font-size: 62px;
    }
    
    h2{
        font-size: 43px;
    }
    a{
        font-size: 34px;

    }

}

@media screen and (min-width: 1000px) {
    h1{
    font-size: 70px;
    }
    
    h2{
        font-size: 45px;
    }
    a{
        font-size: 33px;
    }
     
}