#container{
	display:flex;
	flex-direction:column;
}
#ja{
	font-size:60px;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}
#number{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 40px;
    text-align: left;
    margin-bottom: -80px;
    margin-top: -7px;
}
#btn{
    width: 270px;
    background: #003febc0; 
    color: #fff;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 55px;
    border: 1.6px solid rgb(0, 0, 0) ;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    
}
h1{
    font-size: 65px;
    color: rgb(51, 207, 247);
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
    font-family: 'Mochiy Pop One', sans-serif;
    text-align: center;
}
#entry{
    margin-top: -20px;
    text-align: center;
    width: 850px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px;
    border-radius: 10px;
    border-color: rgb(52, 110, 91);
    background-color: rgba(104, 104, 104, 0.027);
    border: double 5px;
}
#result{
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    font-size: 50px;
    color: rgba(241, 50, 50, 0.856);
}
#kaitou{
    font-family: 'Noto Sans JP', sans-serif;
    text-align: left;
    font-size: 50px;
    color: rgba(241, 50, 50, 0.856);
    margin-bottom: -80px;
}
a{
    width: 200px;
    background: #003febc0; 
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 80px;
    border-radius: 10px;
    font-size: 55px;
    border: 1.6px solid rgb(0, 0, 0) ;
    white-space: nowrap;
    text-align: center;
  }


.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 70px;
    width: 70px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #0a76a8;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 50px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #95d3ff;
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #74c5ff;
    transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}
